@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300&family=Pacifico&family=Prompt:wght@300;400;700&family=Quintessential&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #313552;
  /* font-family: "Quintessential", cursive; */

  font-size: 1.5rem;
  color: #eee6ce;
}

article {
  width: 60%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-size: 3.25rem;
  font-family: "Pacifico", cursive;
}
input {
  width: 10%;
  font-size: 1.25rem;
}
p {
  color: #eee6ce69;
  border-bottom: 2px groove #2eb086;
  margin: 1.5rem 1.5rem;
  padding: 1.25rem;
}
form {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  border: 2px solid #b8405e;
  color: #b8405e;
  padding: 0.15rem 1rem;
  transition: all 0.5s;
}
.btn:hover {
  transform: translateY(-15%);
  border: 2px solid #2eb086;
  color: #2eb086;
  box-shadow: 1px 1px 12px 3px rgba(46, 176, 134, 0.75);
  -webkit-box-shadow: 1px 1px 12px 3px rgba(46, 176, 134, 0.75);
  -moz-box-shadow: 1px 1px 12px 3px rgba(46, 176, 134, 0.75);
}
span {
  font-size: 1rem;
  margin-top: 1rem;
  color: #2eb086;
}
